
*, *::after, *::before{
    box-sizing: border-box;
}

.box{
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; 

    -webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}

.box-flex-start{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 

    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
}

.box-space-between{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 

    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.box-item{
    -webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0.5rem 1rem;
}

.box-left{
    -webkit-flex: 2 1 auto;
	-ms-flex: 2 1 auto;
    flex: 2 1 auto;
    margin: 0.5rem 1rem;
}

.box-right{
    -webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0.5rem 1rem;
}

.box-grid-item{
    -webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
    flex: 1 1 20%;
    margin: 0.5rem 1rem;

    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
}

/* Grid for specifically nav bar: Logo on left, btn on right*/
.nav-box-left{
    -webkit-flex: 3 1 auto;
    -ms-flex: 3 1 auto;
    flex: 3 1 auto;
    margin: 0.5rem 1rem;
}

.nav-box-right{
    -webkit-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    margin: 0.5rem 1rem;
}

.box-item-nav{
    flex: 1 1 auto;
    align-self: center;
}

/* flexbox for store section */

.store-flexbox{
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; 

    -webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
}

/* product page flexbox */

.filter-flex-item{
    /* -webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto; */
    flex: 1 1 20%;
    /* margin: 0.5rem 1rem; */
    margin-right: 2rem;
    min-width: 12rem;
}

.product-flex-item{
    /* -webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto; */
    margin-top: 2.5rem;
    flex: 1 5 70%;

    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
}


/*grid title*/
.box-left-align{
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0.5rem 1rem;
}

/*sort by*/
.text-right-align{
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0.5rem 1rem;

    text-align: right;
}
/* End of product page flexbox */
