
.service-section{
    margin: 0;
    padding: 1rem 10%;
    padding-bottom: 6rem;
    background-color: white;
}

.service-section h3{
    text-align: center;
    font-size: 1.4rem;
}

.service{
    text-align: center;
}

.service span{
    margin-top: 1rem;
    display: block;
    font-weight: bold;
    color: rgb(71, 71, 71);
}

.service img{
    /* display: block; */
    width: 150px;
}

.service-flexbox{
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;

    /* -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;  */

    -webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}