
.text-green{
	color: #63B146;
}

.text-grey{
	color: rgb(102, 102, 102);
}

.text-orange{
    color: #F36B25;
}

.text-yellow{
    color: #FFDD50;
}

.border-bottom{
	border-bottom: 1px rgb(199, 199, 199) solid;
	padding-bottom: 1rem;
}

/* apply for product pages > product grid */
.white-background{
	background-color: white;
	padding: 0.5rem;
}