body{

	/* Lato font from Google fonts */
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	margin: 0;

	/*background-color: rgb(241, 241, 241);*/
	
}

img{
	height: auto;
	max-width: 100%;
}

a{
	color: black;
	text-decoration: none;
	
}


li{
	margin-top: 2rem;
	margin-bottom: 1em;
}

p{
	max-width: 60rem;
	/* width: 60%; */
}

/*Reference boz-shadow by https://css-tricks.com/almanac/properties/b/box-shadow/ */
/* used this plugin (https://brumm.af/shadows) to get the style of shadow wanted*/
.shadow {
	-webkit-box-shadow: 
	0 1.1px 7.4px rgba(0, 0, 0, 0.028),
	0 12.3px 25px rgba(0, 0, 0, 0.032),
	0 77px 112px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 
	0 1.1px 7.4px rgba(0, 0, 0, 0.028),
	0 12.3px 25px rgba(0, 0, 0, 0.032),
	0 77px 112px rgba(0, 0, 0, 0.07);
	box-shadow:
	0 1.1px 7.4px rgba(0, 0, 0, 0.028),
	0 12.3px 25px rgba(0, 0, 0, 0.032),
	0 77px 112px rgba(0, 0, 0, 0.07);
}

/************** Default all button style unless specfic ***********/
button{
	display: block;
	background-color: #63B146;
    color: white;
    border: none;
}

button:hover, button:focus{
	 background-color: #9AE07E;
	 color: white;
	 cursor: pointer;
}


/* Code samples stylization to differentiate from regular text*/
code, samp{
	display: block;
	background-color: rgb(230,230,230);
	padding: 0.5rem;
}

.indent{
	padding-left: 1em;
}
/* End of Code samples stylization */




/**************** nav bar *******************************/
nav{
	margin: 0;
	background-color: #FFDD50;
	font-weight: bold;
	padding: 1.2em 6em;

	/* align items vertical */
	align-items: center;
	position: relative;
}


/* align-self overrides align-items notes from friend and it work to align the logo */
.header-logo{
	margin-left: 0%;
	align-self: center;
	max-width: 13rem;
	padding: 0.5rem;
	display: inline-block;
}

.header-logo:hover{
	background-color: #eccc4b;
}

/***************** Search bar css ****************/

.nav-link{
	margin-right: 2%;
}

.search{
	margin-left: 10%;
	position: relative;
	width: 16rem;
	max-width: 20rem;
	min-width: 12rem;
}

.search-btn{
	font-size: 1.0rem;
	border: 1px solid #ccc;
	height:2.3rem;
	border-radius: 0px 4px 4px 0px;
	border-left: none;
	display: inline-block;
	position: absolute;
	top:50%;
	right: 3rem;
    transform: translate(0, -50%);
}

input[type=search]{
	width: 70%;
	height: 2.3rem;
	border: 1px solid #ccc;
	border-radius: 4px 0px 0px 4px;
	border-right: none;
	font-size: 1.0rem;
	padding-left: 0.4rem;
	position: absolute;
	top:50%;
    transform: translate(0, -50%);
}

.search-btn img{
	width: 1rem;
	height: auto;
}
/**************** end Search css ****************/

 .cart-btn{
	padding: 0.7em 1.4em;
	border-radius: 0.5rem;
	display: inline-block;
	margin-right: 0rem;
}


.cart-btn span{
	font-size: 1rem;
	vertical-align: middle;
}

.cart-btn img{
	display: inline-block;
	width: 1.8em;
	height: auto;
	vertical-align: middle;
	margin-right: 0.3em;
	/* margin-top: 0em; */
}

.center-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#cart-btn-mobile{
	display: none;
}

@media (max-width: 800px){

	nav{
		padding: 4rem 1rem;
		align-items: center;
	}

	.header-logo{
		position: absolute;
		top: 0.5rem;
		left: 1rem;
		width: 12rem;
	}

	.search{
		margin-left: 2rem;
	}
	
}

@media (max-width: 700px){
	.cart-btn{
		display: none;
	}

	#cart-btn-mobile{
		display: inline-block;
		position: absolute;
		top: 1rem;
		right: 1.5rem;
	}

	.search{
		margin: 0;
		position: absolute;
		bottom: 2rem;
		left: 1.5rem;
		width: 9rem;
	}
	.search-btn{
		height: 2.0rem;
		right: 2rem;
	}

	input[type=search]{
		height: 2.0rem;
	}

	.cart-btn{
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	#product-btn{
		position: absolute;
		bottom: 1.5rem;
		right: 5.5rem;
		font-size: 1rem;
	}

	#about-btn{
		position: absolute;
		bottom: 1.5rem;
		right: 0.5rem;
		font-size: 1rem;
	}
}

@media (max-width: 330px){
	#product-btn{
		right: 3.5rem;
		font-size: 0.8rem;
	}

	#about-btn{
		right: 0rem;
		font-size: 0.8rem;
	}
}

/**************** end of nav bar *******************************/



/**************** Hover Line ****************/
.line-hover {
	display: inline-block;
}

.line-hover::after {
    content: '';
    display: block;
    width: 0;
    height: 0.03rem;
    background: #000;
    transition: width .3s;
}

.line-hover:hover::after {
    width: 100%;
}

.active{
	margin: auto;
	width: 80%;
	border-bottom: 0.03rem solid rgb(0, 0, 0);
}

/**************** Hover Line  *****************/

/**************** Hero CTA ****************/
.hero {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

/**** Hero CTA banner https://www.developerdrive.com/full-page-hero-image-html-css/ ****/
/* use ::before to add a brightness level/or gradient to photo and not everything in the .hero div box (text etc.)*/
.hero::before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* makes a gradient https://cssgradient.io/ */
    background: linear-gradient(90deg, rgba(2,0,36,0) 39%, rgba(0,0,0,1) 65%), url("../images/hero-cta.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}
.hero-content {
    position: relative;
    left: 35%;
    color: white;
    text-align: left;
    margin: 0.625rem;
}

.hero-title {
    font-size: 2.4rem;
    font-weight: 600;
	margin-bottom: 0;
	width: 60%;
}

.hero-text{
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
    max-width: 20rem;
}

.hero-btn {
    border: 1px solid #257F29;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: 200;
    border-radius: 0.3rem;
}

.hero-btn:hover, .hero-btn:focus {
    background-color: #9AE07E;
    border: 1px solid #257F29;
}

@media(max-width: 800px){
	.hero{
		padding:1.5rem 2rem;
	}

	.hero::before{
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hero-cta-mobile.png");
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-position: center;   
	}

	.hero-content {	
	    left: auto;
	}

	.hero-title{
		font-size: 2rem;
		width: 100%;
	}

	.hero-btn {
		margin-top: 2rem;
		padding: 0.8rem 2rem;
		font-size: 1rem;
		font-weight: 200;
		border-radius: 0.3rem;
	}

}
/**************** END - Hero CTA ****************/

/**************** Select Store ****************/
select { 
	font-size: 1.17em;
	color: #63B146;
	border: none;
	margin: 0 0.5rem;
	align-items: center;
	font-family: 'Lato', sans-serif;
}

.selection{
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: white;
	border-top: 1px solid #c2c2c2; 
	border-bottom: 1px solid #c2c2c2; 
}

.selection h3{
	font-weight: normal;
}

/* For Iphone 5/SE and Galaxy S% */
@media(max-width: 360px){
	select {
		font-size: 0.8em;
	}

	label {
		font-size: 0.8rem;
	}

}


/**************** END Select Store ****************/


/**************** START of PRODUCT LIST ****************/

.product-list{
	border-radius: 0.5em;
}

.product-info{
	padding-bottom: 1rem;
	border-bottom: 1px solid rgb(129, 129, 129);
}

.product-nav a{
	color: #63B146;
}

.product-nav{
	margin: 0em 1em;
}

.detail-btn{
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	margin-top: 1.5em;
	margin-right: 1em;
	margin-bottom: 0;
	margin-left: 0;

	min-width: 7rem;

	font-size: 1.2rem;
	color: white;
	background-color: #63B146;
	border-radius: 0.3em;
	border: none;
}

/**** class for button effect in js ****/
.detail-btn-selected{
	background-color: #7ad857;
}
/**** End for button effect in js ****/

/************** CONTAINERS MARGINS **************/
.container{
	margin: 3% 6%;
	/* width: 90%;
	height: 90%; */
	position: relative;
}

.smaller-container{
	padding: 1rem 2rem;
	margin: 3% 10%;
	position: relative;
}

 @media(max-width: 30rem){
 	.container{
		margin: 3% 5%;
	}

 	.smaller-container{
		padding: 1rem 1rem;
		margin: 3% 3%;
	}
 }
/************** END CONTAINERS MARGINS **************/

/**** START of BUY WITH products ****/
.buy-with-item{
	max-width: 20rem;
}

@media(max-width: 30rem){
	.buy-with-item{
		max-width: 10rem;
	}
}

.buy-with-item h3{
	display: block;
}

.buy-with-item img{
	width: 70%;
	height: auto;
	display: block;
}

.total{
	margin-left: 1rem;
	font-size: 1.8rem;
}

.buy-with-item button{
	display: inline;
}

.plus-sign{
	display: -webkit-flex;
	display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; 

    -webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;

	-webkit-align-content: center;
	-ms-align-content: center;
	align-content: center;

	margin-right: 2rem;
	text-align: center;
	font-size: 1.5rem;
}

/**************** END of buy with products ****************/
/**************** END of product list ****************/

.in-text-link{
	font-weight: bold;
	color: #63B146;
}

/**************** Start of btn Section ****************/

.btn{
	display: block;
	width: 100%;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	margin: 1em auto;
	font-size: 1.2rem;
	color: white;
	background-color: #63B146;
	border-radius: 0.3em;
	border: none;
	justify-content: center;
}

.submit-btn{
	background-color: #FFDD50;
	color: black;
	padding: 0.6em 1.6em;
	margin: 1em 0em;
	font-size: 1.2rem;
	border-radius: 0.3em;
	border: none;
}

.submit-btn:hover, .submit-btn:focus{
	 background-color: #ffc700;  
	 cursor: pointer;
}

/**************** END of btn section ****************/

/**************** Start of Price and Input section ****************/
.price{
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

input[type=text]{
	width: 60%;
	padding: 12px 10px;
	margin: 8px 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 0.3rem;
	font-size: 1.0rem;
}

input[type=number]{
	width: 20%;
	min-width: 6rem;
	padding: 0.5em 0.5em;
	margin: 0.5em 0.5em;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 0.3rem;
	font-size: 1.0rem;
	text-align: center;
}

/**************** In Styleguide Only ****************/
.white-swatch{
	padding: 30px;
	background-color: white;
	border: 1px solid black;
	color: black;
}

.yellow-swatch{
	padding: 30px;
	background-color: #FFDD50;
}

.green-swatch{
	padding: 30px;
	background-color: #63B146;
}

.orange-swatch{
	padding: 30px;
	background-color: #F36B25;
}
/**************** End In Styleguide Only ****************/

/**************** Text styling section ****************/

.text-styling h1{
	font-size: 2rem;
}

.text-styling h2{
	font-size: 1.6rem;
	color: #63B146;
}

.text-styling h3{
	font-size: 1.2rem;
}

.text-styling p{
	max-width: 50rem;
}

.text-styling ol{
	line-height: 0.6rem;
}


/**************** START of contact section ****************/

.contact-section{
	border-top: 1px rgb(182, 182, 182) solid;
	text-align: center;
	margin-top: 5rem;
	display: block;
}

.contact-section label{
	display: block;
}

.contact-section button{
	margin: auto;
}

.contact-section form{
	margin-top: 3rem;
}

.contact-section input{
	max-width: 30rem;
	margin-bottom: 2rem;
}

.phone-number{
	font-size: 2rem;
	color: #63B146;
}

/**************** END of contact section ****************/

/**************** start of footer ****************/
.push-footer{
	 height: 100px;
}

footer{
	padding: 2rem 3rem;
	margin-top: 2rem;
	background-color: rgb(219, 219, 219);
	position: relative;
}

footer a{
	font-size: 1rem;
	margin-right: 3rem;
	font-weight: bolder;
}

footer img{
	position: absolute;
	left: 2rem;
	top: 50%;
	transform: translateY(-50%);
	width: 14rem;
}

.footer-link{
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
}

@media(max-width: 30rem){

	footer img{
		left: 0;
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.footer-link{
		position: relative;
		right: 0;
		width: 100%;
		transform: translateY(-20%);

		/* to evenly space the content at the footer and center content*/
		display: -webkit-flex;
	    display: -ms-flex;
	    display: flex;

	    -webkit-justify-content: space-between;
	    -ms-justify-content: space-between;
	    justify-content: space-between;
	}

	footer a{
		margin: auto;
	}

}

@media (max-width: 700px){
	footer img{
		display: none;
	}
}

/**************** END of footer section ****************/



/**************** wireframe styling ****************/
.wireframes img{
	width: 100%;
}

.mockup img{
	width: 40%;
	margin: 0.3em 0.3em;
}

.wireframes ol{
	list-style: none;
}

/**************** end of wireframe styling ***************/

/**************** Start of product filter sections ****************/

.product-filter{
	margin-right: 1rem;
	width: 20%;
	max-width: 20rem;
	min-width: 12rem;
	/* background-color: rgb(228, 228, 228); */
	padding: 3rem 1rem;
	padding-bottom: 3rem;
	border-radius: 0.3em;
	color: rgb(75, 75, 75);
	font-size: 1rem;
}

.product-filter h2{
	font-size: 1.2rem;
}

.product-filter h3{
	font-size: 1rem;
}

/* Temporary hide the filter in mobile version*/
@media(max-width: 30rem){
	.product-filter{
		display: none;
	}
}

.clear-filter-btn{
	padding: 0.4em 1.4em;
	margin: 1em 0em;
	margin-bottom: 3rem;
	font-size: 1rem;
	color: white;
	background-color: #63B146;
	border-radius: 0.3em;
	border: none;
}

.product-filter input[type=checkbox]{
	transform: scale(1.8);
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
	padding: 10px;
	margin-right: 0.8rem;
}

.filter-checkbox{
	display: block;
	margin-bottom: 0;
	margin-top: 1.4rem;
}

/**************** Product Grid section ****************/

.product-grid{
	width: 78%;
}
@media(max-width: 30rem){
    .product-grid{
    	width: 100%;
    }
}

.product-white-background{
	margin-top: 1rem;
	background-color: white;
	padding: 1rem;
	border-radius: 0.3em;
}

.product-grid-item{
	cursor: pointer;
	max-width: 10rem;
	position: relative;
}

.product-grid-item h3,p{
	margin-bottom: 0;
	margin-top: 0.2em; 
}

.product-grid-item img{
	min-width: 6rem;
	max-width: 10rem;
	width: 90%;
}

/******** Add to cart button ******/

.product-grid-item button{
	/* text-align: center; */
	min-width: 8rem;
	margin: 0.5rem 0;
	width: 100%;
	padding: 0.5rem 0.4rem;
}

.product-grid-item h3{
	font-size: 1rem;
	font-weight: normal;
}

/* For Iphone 5/SE and Galaxy S5*/
@media(max-width: 360px){
	.product-grid-item{
		max-width: 7rem;
	}
	
}

.product-weight{
	color: grey;
}

.grid-price{
	text-align: right;
	margin-top: 0.3rem;
	font-size: 1.2rem;
}

.sort-by select { 
	font-size: 1.17em;
	color: black;
	background-color: #FFDD50;
	border: none;
	margin: 0rem;
	padding: 0.4rem 0.8rem;
	border-radius: 0.3rem;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	display: inline-block;
}

.sort-by h3 { 
	margin: 0rem;
	display: inline-block;
	margin-right: 0.6rem;
}


.divider-line{
	margin-top: 1.4rem;
	width: 80%;
	border-bottom: 1px solid #b4b4b4;
}
/**************** END of product grid section ****************/

/**************** START of categories section ****************/

.category-grid-item{
	padding: auto;
	cursor: pointer;
	padding: 1rem 2rem 0.5rem 2rem;
}

.category-grid-item:hover{ 
	background-color: rgb(230, 230, 230);
	border-radius: 6px;
	transition: 0.4s ease-in-out;
}

.category-grid-item:active{
	background-color: rgb(240, 240, 240);
	border-radius: 6px;
}

.category-grid-item h3{
	text-align: center;
}

/* placement of the images with grey box when images are missing*/
.category-grid-item div{
	background-color: grey;
	padding: 5rem 5rem;
	max-width: 5rem;
	max-height: 5rem;
	margin: 0;
}

.category-grid-item img{
	max-width: 10rem;
	max-height: 10rem;
	margin: 0;
	border-radius: 4px;
}

/* For Iphone 5/SE and Galaxy S5*/
@media(max-width: 30em){
	.category-grid-item{
		padding: auto;
		cursor: pointer;
		padding: 0;
	}

	.category-grid-item img{
		max-width: 7rem;
		max-height: 7rem;
		margin: 0;
	}
}


/**************** END of categories section ****************/

/**************** START of store section ****************/

.store-section{
	margin: 2rem 4rem;
}

.store{
	max-width: 14rem;
	text-align: center;
	margin: 2rem 2rem;
}

.store img{
	max-width: 8rem;
}


.store h3{
	font-size: 1.4rem;
	margin-top: 0.8rem;
}

.store span{
	/* border: 2px rgb(167, 167, 167) solid; */
	background-color: rgb(228, 228, 228);
	padding: 0.5rem 1rem;
	color: rgb(102, 102, 102);
}

@media(max-width: 800px){
	.store-section{
		margin: 1rem 0rem;
	}
	.store{
		max-width: 10rem;
		margin: 1.5rem 1rem;
	}
	.store img{
		max-width: 6rem;
	}

	.store span{
		/* border: 2px rgb(167, 167, 167) solid; */
		background-color: rgb(228, 228, 228);
		padding: 0.5rem 0.5rem;
		color: rgb(102, 102, 102);
	}
}


/**************** END of store section ****************/



/**************** start of category products ****************/

.category-section{
	background-color:white;
	position: relative;
	padding: 0.5rem 1rem 2rem 2rem;
	margin: 3rem 3% 0 3%;
	
	border-radius: 6px;
	/* border-bottom: 1px solid rgb(163, 163, 163); */
}

@media(max-width: 800px){
	.category-section{
		padding: 0.5rem 1rem;
		margin: 0 3%;
	}
}

.category-section-title{
	display: block;
	margin: 1rem;
	font-size: 1.4rem;
	/* font-weight: bold; */
	color: rgb(73, 73, 73);
}

.category-section a{
	position: absolute;
	top: 2rem;
	right: 8%
}

/* the a href to the detail html */
.product-grid-item a{
	position: initial;
}

.price-section{
	display: block;
	margin-top: 0.2rem;
}

.sale-price{
	float: right;
	margin-right: 0.2em;
	margin-bottom: 0.5rem;

	color: rgb(238, 28, 28);
	font-size: 1.2rem;
}

.original-price{
	float: right;
	margin-right: 0;

	color: grey;
	font-size: 1.2rem;
	text-decoration: line-through;
}

.seasonal-tag{
	position: absolute;
	top: 0rem;

	background-color: #F36B25;
	color: white;
	padding: 0.1rem 0.8rem;
}

/**************** END of category products ****************/

/* style for add to cart button */
.add-to-cart{
	width: 100%;
}