/* Code samples stylization to differentiate from regular text*/
code, samp{
	-webkit-tab-size:    4;
    -ms-tab-size:      4; 
    tab-size:         4; 

	display: block;
	background-color: rgb(230,230,230);
	padding: 0.5rem 2rem;
	justify-content: space-around;
	white-space: pre-wrap;
	overflow: auto;
}

/* End of Code samples stylization */

/**************** Used in styleguide nav ****************/

.page-nav{
	padding: 2rem 2rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
	font-size: 1.25rem;
}
.page-nav ul{
	margin: 0;
}
/**************** Used in styleguide nav ****************/

/**************** wireframe styling ****************/
.wireframes img{
	width: 100%;
}

.mockup img{
	width: 40%;
	margin: 0.3em 0.3em;
}

.wireframes ol{
	list-style: none;
}

/**************** end of wireframe styling ***************/

/**************** In Styleguide Only ****************/
.white-swatch{
	padding: 30px;
	background-color: white;
	border: 1px solid black;
	color: black;
}

.yellow-swatch{
	padding: 30px;
	background-color: #FFDD50;
}

.green-swatch{
	padding: 30px;
	background-color: #63B146;
}

.orange-swatch{
	padding: 30px;
	background-color: #F36B25;
}
/**************** End In Styleguide Only ****************/


/**************** Citation Photos ***************/
li img{
	width: 25%
}
