
body{

	/* Lato font from Google fonts */
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	margin: 0;
}

img{
	height: auto;
	max-width: 100%;
}

a{
	color: black;
	text-decoration: none;
}


li{
	margin-top: 2rem;
	margin-bottom: 1em;
}

p{
	max-width: 60rem;
	/* width: 60%; */
}

button{
	display: block;
}

/* Code samples stylization to differentiate from regular text*/
code, samp{
	display: block;
	background-color: rgb(230,230,230);
	padding: 0.5rem;
}

.indent{
	padding-left: 1em;
}
/* End of Code samples stylization */

/* nav bar */
nav{
	margin: 0;
	background-color: #FFDD50;
	font-weight: bold;
	padding: 0.7em 0.9em;
}

nav p{
	display: inline;
	font-size: 1.4rem;
	margin-left: 1rem;
}

nav li{
	list-style: none;
}

.header-logo img{
	max-width: 12rem;
}
/* align-self overrides align-items notes from friend and it work to align the logo */
.header-logo{
	align-self: center;
}

#header-grocery{
	color: #63B146;
	font-weight: bold;
}

#header-Vancouver{
	font-weight: lighter;
	color: black;
	padding-left: 0;
}

@media (max-width: 1000px){
	#header-grocery{
		font-size: 1.2rem;
	}
	
	#header-Vancouver{
		font-size: 1.2rem;
	}
}

/* Search bar css*/
.search-btn{
	font-size: 1.0rem;
	color: white;
	background-color: #63B146;
	padding: 0.5em 0.5em;
	border-radius: 4px;
	border-style: none;
	display: inline;
}

input[type=search]{
	width: 60%;
	padding: 0.5em 0.5em;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1.0rem;
}

.search-btn img{
	width: 1em;
	height: 1em;
}
/* end Search bar css*/

/* .cart-btn{
	font-size: 1.0rem;
	color: white;
	background-color: #63B146;
	padding: 0.8em 1.8em;
	border-radius: 0.6rem;
	align-self: center;
}

.cart-btn span{
	margin-top: 1rem;
	margin-bottom: 1rem;
} */



/* end of nav bar */

.page-nav{
	padding: 2rem 2rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
	font-size: 1.25rem;
}
.page-nav ul{
	margin: 0;
}

/* Used in styleguide and site nav*/
.page-nav-item span:hover, .page-nav-item span:focus{
	border-bottom: 0.01rem solid black;
	transition: color 0.5s;
}

.active span{
	border-bottom: 0.01rem solid black;
}


/* Hero CTA */
.hero {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

/* Testing Hero CTA banner https://www.developerdrive.com/full-page-hero-image-html-css/ */
/* use ::before to add a brightness level to photo and not everything in the .hero div box (text etc.)*/
.hero::before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* makes a gradient https://cssgradient.io/ */
    background: linear-gradient(90deg, rgba(2,0,36,0) 29%, rgba(0,0,0,1) 65%), url("../images/hero-cta.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}
.hero-content {
    position: relative;
    left: 25%;
    color: white;
    text-align: left;
    margin: 0.625rem;
}

.hero-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-text{
    font-size: 1rem;
    font-weight: 200;
    margin-top: 1rem;
    max-width: 20rem;
}

.hero-btn {
    background-color: #63B146;
    color: white;
    border: 1px solid #257F29;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: 200;
    cursor: pointer;
    border-radius: 0.3rem;
}

.hero-btn:hover, .hero-btn:focus {
    background-color: #9AE07E;
    border: 1px solid #257F29;
}

/* END - Hero CTA */

/* Select Store */
select { 
	font-size: 1.17em;
	color: #63B146;
	border: none;
	margin: 0 0.5rem;
	align-items: center;
	font-family: 'Lato', sans-serif;
}

.selection{
	border-bottom: 1px solid #c2c2c2;
}


/* END Select Store */

/*Reference boz-shadow by https://css-tricks.com/almanac/properties/b/box-shadow/ */
/* used this plugin (https://brumm.af/shadows) to get the style of shadow wanted*/
.shadow {
	-webkit-box-shadow: 
	0 6.6px 6.7px rgba(0, 0, 0, 0.023),
  	0 23px 24px rgba(0, 0, 0, 0.034),
  	0 119px 98px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 
	0 6.6px 6.7px rgba(0, 0, 0, 0.023),
  	0 23px 24px rgba(0, 0, 0, 0.034),
  	0 119px 98px rgba(0, 0, 0, 0.07);
	box-shadow:
	0 6.6px 6.7px rgba(0, 0, 0, 0.023),
  	0 23px 24px rgba(0, 0, 0, 0.034),
  	0 119px 98px rgba(0, 0, 0, 0.07);
}




/* start of product list */

.product-list{
	padding: 1rem 2rem;
	border-radius: 0.5em;
}

.product-info{
	padding-bottom: 1rem;
	border-bottom: 1px solid rgb(129, 129, 129);
}

.product-nav a{
	color: #63B146;
}

.product-nav{
	margin: 0em 1em;
}

.detail-btn{
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 0;
	margin-left: 0;

	font-size: 1.2rem;
	color: white;
	background-color: #63B146;
	border-radius: 0.3em;
	border: none;
}

.product-detail-container{
	margin: 3% 15%;
	position: relative;
}


/* start of buy with products */
.buy-with-item h3{
	display: block;
}

.buy-with-item img{
	width: 60%;
	height: auto;
	display: block;
}

.total{
	margin-left: 1rem;
	font-size: 1.8rem;
}

.buy-with-item button{
	display: inline;
}

.plus-sign{
	display: -webkit-flex;
	display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; 

    -webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;

	-webkit-align-content: center;
	-ms-align-content: center;
	align-content: center;

	margin-right: 2rem;
	text-align: center;
	font-size: 1.5rem;
}

/* end of buy with products */
/* end of product list */

.container{
	margin: 3% 6%;
	/* width: 90%;
	height: 90%; */
	position: relative;
}

@media(max-width: 1000px){
	.container{
		margin: 3% 5%;
	}
}
 
.in-text-link{
	font-weight: bold;
	color: #63B146;
}

/* start of btn section */

.btn{
	display: block;
	width: 100%;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	margin: 1em auto;
	font-size: 1.2rem;
	color: white;
	background-color: #63B146;
	border-radius: 0.3em;
	border: none;
	justify-content: center;
}

.submit-btn{
	background-color: #FFDD50;
	color: black;
	padding: 0.6em 1.6em;
	margin: 1em 0em;
	font-size: 1.2rem;
	border-radius: 0.3em;
	border: none;
}

/* end of btn section */

.price{
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

input[type=text]{
	width: 60%;
	padding: 12px 10px;
	margin: 8px 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 0.3rem;
	font-size: 1.0rem;
}

input[type=number]{
	width: 20%;
	padding: 0.5em 0.5em;
	margin: 0.5em 0.5em;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 0.3rem;
	font-size: 1.0rem;
	text-align: center;
}


.white-swatch{
	padding: 30px;
	background-color: white;
	border: 1px solid black;
	color: black;
}

.yellow-swatch{
	padding: 30px;
	background-color: #FFDD50;
}

.green-swatch{
	padding: 30px;
	background-color: #63B146;
}

.orange-swatch{
	padding: 30px;
	background-color: #F36B25;
}

/* text styling section */

.text-styling h1{
	font-size: 2rem;
}

.text-styling h2{
	font-size: 1.6rem;
	color: #63B146;
}

.text-styling h3{
	font-size: 1.2rem;
}

.text-styling p{
	max-width: 50rem;
}

.text-styling ol{
	line-height: 0.6rem;
}


/* Start of Shopping Cart pop up*/

.cart{
	width: 30rem;
	/* padding: 1em 3em 1em 3em; */
	background-color:white;
	display: block;
	display: none;
	border: 1px solid #ccc;
	position: absolute;

	/* Desktop version to be slightly off*/
	top: 6rem;
	right: 3rem;
	z-index: 10;
}


.cart-headline{
	padding: 1rem 0.5rem;
	background-color:#FFDD50;
	position: relative;
}

.close-cart{
	position: absolute;
	top: 0rem;
	left: 1rem;
	font-size: 3rem;
	font-weight: normal;
	transform: rotate(45deg);
	cursor: pointer;
}

.cart-deliver{
	border-bottom: 1px rgb(170, 170, 170) solid;
	/* padding-bottom: 1rem; */
	padding: 1rem 2rem;
	position: relative;
}

.cart-deliver a{
	color: #63B146;
}

.cart-deliver img{
	width: 3rem;
}

.cart-deliver-info{
	position: absolute;
	right: 1rem;
	top: 3rem;
}

@media (max-width: 60rem){
	.cart{
		width: 100%;
		top: 0;
		right: 0;
	}
}

.cart h2{
	text-align: center;
	font-weight: normal;
	margin: 0;
}

.cart-item-container{
	padding: 2rem 1rem;
}

.cart-item{
	margin-top: 0;
	margin-bottom: 1em;
	position: relative;
}

.cart-item img{
	width: 100px;
	vertical-align: middle;
	/* min-width: 6rem;
	max-width: 10rem; */
}

.item-title{
	font-size: 1.2rem;
	vertical-align: middle;
}

.item-quantity{
	display: inline;
	position: absolute;
	left: 12rem;
	top: 1.2rem;
}

.cart-item input{
	width: 4rem;
}

.cart-price{
	position: absolute;
	right: 1rem;
	top: 2.2rem;
	font-size: 1.4rem;
}

.delete-btn{
	color: rgb(228, 36, 36);
}


.total-price{
	float: right;
	margin-right: 1rem;
	color: #63B146;
	font-size: 2rem;
}

.check-out-btn{
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0.6em 8em;
	font-size: 1.2rem;
	color: white;
	background-color: #63B146;
	border-radius: 0.3em;
	border: none;
}

/* end of cart style */

/* start of contact section */

.contact-section{
	border-top: 1px rgb(182, 182, 182) solid;
	text-align: center;
	margin-top: 20rem;
	display: block;
}

.contact-section label{
	display: block;
}

.contact-section button{
	margin: auto;
}

.contact-section form{
	margin-top: 3rem;
}

.contact-section input{
	max-width: 30rem;
	margin-bottom: 2rem;
}

.phone-number{
	font-size: 2rem;
	color: #63B146;
}

/* end of contact section */

/* start of footer */

footer{
	padding: 2rem 3rem;
	margin-top: 2rem;
	background-color: rgb(219, 219, 219);
	position: relative;
}

footer a{
	font-size: 1rem;
	margin-right: 3rem;
	font-weight: bolder;
}

footer img{
	position: absolute;
	left: 2rem;
	top: 50%;
	transform: translateY(-50%);
	width: 14rem;
}

.footer-link{
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
}

/* end of footer section */



/* wireframe styling */
.wireframes img{
	width: 100%;
}

.mockup img{
	width: 40%;
	margin: 0.3em 0.3em;
}

.wireframes ol{
	list-style: none;
}

/* end of wireframe styling */

/* Start of product filter sections */

.product-filter{
	max-width: 20rem;
	background-color: rgb(224, 224, 224);
	padding: 1rem 2rem;
	padding-bottom: 3rem;
}

.clear-filter-btn{
	padding: 0.6em 1.6em;
	margin: 1em 0em;
	margin-bottom: 3rem;
	font-size: 1rem;
	color: white;
	background-color: #63B146;
	border-radius: 0.3em;
	border: none;
}

.product-filter input[type=checkbox]{
	transform: scale(1.8);
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
	padding: 10px;
	margin-right: 0.8rem;
}

.filter-checkbox{
	display: block;
	margin-bottom: 0;
	margin-top: 1.4rem;
}

/* product grid section */

.product-grid{
	width: 70%;
}

.product-grid-item{
	width: 20rem;
	cursor: pointer;
	max-width: 12rem;
	position: relative;
}

.product-grid-item h3,p{
	margin-bottom: 0;
	margin-top: 0.2em; 
}

.product-grid-item img{
	min-width: 6rem;
	max-width: 10rem;
	width: 90%;
}

.product-grid-item button{
	min-width: 10rem;
	margin: 0.5rem 0;
}

.product-grid-item h3{
	font-size: 1rem;
	font-weight: normal;
}

.product-weight{
	color: grey;
}

.grid-price{
	text-align: right;
	margin-top: 0.3rem;
	font-size: 1.2rem;
}

.sort-by div{
	background-color: #FFDD50;
}

.sort-by select { 
	font-size: 1.17em;
	color: black;
	background-color: #FFDD50;
	border: none;
	margin: 0rem;
	padding: 0.2rem;
	border-radius: 0.3rem;
	font-family: 'Lato', sans-serif;
	display: inline-block;
}

.sort-by h3 { 
	margin: 0rem;
	display: inline-block;
}

.divider-line{
	margin-top: 1.4rem;
	border-bottom: 0.05rem solid #636363;
}
/* end of product grid section */

/* start of categories section */
.category-grid{

}
.category-grid-item{
	padding: auto;
	cursor: pointer;
}

.category-grid-item h3{
	text-align: center;
}

/* placement of the images with grey box */
.category-grid-item div{
	background-color: grey;
	padding: 5rem 5rem;
	max-width: 5rem;
	max-height: 5rem;
	margin: 0;
}

.category-grid-item img{
	max-width: 10rem;
	max-height: 10rem;
	margin: 0;
}


/* end of categories section */

/* start of store section */

.store-section{
	margin: 2rem 4rem;
}

.store{
	max-width: 14rem;
	text-align: center;
	margin: 2rem 2rem;
}

.store img{
	max-width: 8rem;
}


.store h3{
	font-size: 1.4rem;
	margin-top: 0.8rem;
}

.store span{
	/* border: 2px rgb(167, 167, 167) solid; */
	background-color: rgb(228, 228, 228);
	padding: 0.5rem 1rem;
	color: rgb(102, 102, 102);
}

@media(max-width: 800px){
	.store-section{
		margin: 1rem 0rem;
	}
	.store{
		max-width: 10rem;
		margin: 1.5rem 1rem;
	}
	.store img{
		max-width: 6rem;
	}

	.store span{
		/* border: 2px rgb(167, 167, 167) solid; */
		background-color: rgb(228, 228, 228);
		padding: 0.5rem 0.5rem;
		color: rgb(102, 102, 102);
	}
}






/* start of category products */

.category-section{
	background-color:white;
	position: relative;
	padding: 1rem 2rem 2rem 2rem;
	margin: 3rem 3% 0 3%;
	
	border-radius: 6px;
	/* border-bottom: 1px solid rgb(163, 163, 163); */
}

@media(max-width: 800px){
	.category-section{
		padding: 0.5rem 1rem;
		margin: 0 3%;
	}
}

.category-section-title{
	display: block;
	margin: 1rem;
	font-size: 1.4rem;
	/* font-weight: bold; */
	color: rgb(73, 73, 73);
}

.category-section a{
	position: absolute;
	top: 2rem;
	right: 8%
}

/* the a href to the detail html */
.product-grid-item a{
	position: initial;
}

.price-section{
	display: block;
	margin-top: 0.2rem;
}

.sale-price{
	float: right;
	margin-right: 0.2em;
	margin-bottom: 0.5rem;

	color: rgb(238, 28, 28);
	font-size: 1.2rem;
}

.original-price{
	float: right;
	margin-right: 0;

	color: grey;
	font-size: 1.2rem;
	text-decoration: line-through;
}

.seasonal-tag{
	position: absolute;
	top: 0rem;

	background-color: #F36B25;
	color: white;
	padding: 0.1rem 0.8rem;
}
