.box-left-align{
    -webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0.5rem 1rem;
}

.box-right-align{
    -webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0.5rem 1rem;

    text-align: right;
}

.sort-by div{
	background-color: #FFDD50;
}

.sort-by select { 
	font-size: 1.17em;
	color: black;
	background-color: #FFDD50;
	border: none;
	margin: 0rem;
	padding: 0.2rem;
	border-radius: 0.3rem;
	font-family: 'Lato', sans-serif;
	display: inline-block;
}

.sort-by h3 { 
	margin: 0rem;
	display: inline-block;
}

.divider-line{
	margin-top: 1.4rem;
	border-bottom: 0.05rem solid #636363;
}